<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Shadows+Into+Light&family=Unbounded:wght@500&display=swap" rel="stylesheet">
<div class="jumbotron" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            {% csrf_token %}
            <div class="col text-left">
                <h1 class="display-4">Fun Fact Generator</h1>
                <p class="lead">Press the button below to view a random dog fun fact!</p>
                <hr class="my-4">
                <p class="lead">
                        <form name="fact-form" method="POST" action="">
                            <button id='fact-button' onclick=""
                             type="submit" class="btn btn-danger btn-rounded btn-lg" data-mdb-ripple-color="#42388a"> Generate Random Fact</button>
                        </form>
                </p>
            </div>
        <div class="col center-block text-center text-white align-self-center" style= 
        "font-family: 'Shadows Into Light'; background:#2b6777" id="fact-response">
        <p style="font-size:35px; font-style: italic;">{{ fact }}</p>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- use FETCH to avoid reload page after fun-fact button is pressed -->
<script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    
    async function postData(url = "application.html", data = {}) {
        const csrftoken = getCookie('csrftoken');
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify(data),
        });
        return response.json();
    }
  
    document.getElementById("fact-button").addEventListener("click", (event) => {
      event.preventDefault();
      postData(url="{% url 'fun_fact_button' %}")
      .then((response) => { 
        document.getElementById("fact-response").innerHTML = response.fact
       });
      });
  </script>

