<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Shadows+Into+Light&family=Unbounded:wght@500&display=swap" rel="stylesheet">
<div class="jumbotron" style="margin-top:3%;">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h1 class="display-4">Fun Fact Generator</h1>
                <p class="lead">Press the button below to view a random dog fun fact!</p>
                <hr class="my-4">
                <p class="lead">
                        <form name="fact-form" method="POST" action="{% url 'fun_fact_button' %}">
                            <button id='fact-button'onclick="window.location.href = '/fact#fun-facts'"
                             type="submit" class="btn btn-danger btn-rounded btn-lg" data-mdb-ripple-color="#42388a"> Generate Random Fact</button>
                        </form>
                </p>
            </div>
        <div class="col center-block text-center text-white align-self-center" style= 
        "font-family: 'Shadows Into Light'; background:#2b6777" id="fact-response">
        <p style="font-size:35px; font-style: italic;">{{ fact }}</p>
        </div>
        </div>
        </div>
    </div>
</div>


<!--
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#fact-button').on('click', function () {
                // Make an AJAX request to get a random dog fact
                $.ajax({
                    type: 'GET',
                    url: 'fun_fact_button/',
                    dataType: 'json',
                    success: function (response) {
                        // Update the content of the factContainer
                        $('#fact-response').html('<p>' + response.fact + '</p>');
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>
-->