

<div class="wrapper" id="photo-boxes">
    <div class="box a">
        <img src="static/dog-1.jpg" width="300px" height="300px">  
    </div>
    <div class="box c">
        <img src="static/dog-6.jpg" width="300px" height="300px">  
    </div>
    <div class="box f">
        <img src="static/dog-4.jpg" width="300px" height="300px">  
    </div>
    <div class="box f">
        <img src="static/dog-5.jpg" width="300px" height="300px">  
    </div>
    <div class="box f">
        <img src="static/dog-2.jpg" width="300px" height="300px">  
    </div>
  </div>